body{
    background: linear-gradient(0deg, #5F7AD3, #5F7AD3);
    }
.bg_white{
position: absolute;
width: 1300px;
height: 2202px;
margin-top:93px;
background: #FFFFFF;
margin-left: 150px;
margin-right: 150px;
}
.logo{
margin-left: 26px;
margin-top: 20px;
}
.{
    position: absolute;
width: 110px;
height: 80px;
left: 0px;
top: 0px;

background: #EA4737;
margin-left: 547px;
}
.shape{
    position: absolute;
width: 12px;
height: 20px;
    margin-left: 92px;
    margin-top: 53px;
}
.Path{
    position: absolute;
    width: 32px;
    height: 32px;
    margin-left: 1015px;
    margin-top: 32.45px;
}
.oval{
    position: absolute;
width: 42px;
height: 42px;
margin-left: 1080px;
margin-right: 35px;
margin-top: 26px;
}
.upOval{
    position: absolute;
    width: 18px;
    height: 18px;
    margin-left: 1105px;
    margin-top: 20px;
}
.up8{
    position: absolute;
    width: 18px;
    height: 16px;
    margin-left: 1253px;
    margin-top: -62px;

    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #FFFFFF;

}
.htx1{
    position: absolute;
    width: 73px;
    height: 19px;
    left: 347px;
    top: 18px;
    
    font-family: ProximaNova;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    display: flex;
    align-items: flex-end;
    
    color: rgba(0, 0, 0, 0.698398);
}
.htx2{
    position: absolute;
    width: 44px;
    height: 19px;
    left: 476px;
    top: 18px;
    
    font-family: ProximaNova;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    display: flex;
    align-items: flex-end;
    
    color: rgba(0, 0, 0, 0.698398);
}
.htx3{
    position: absolute;
    width: 52px;
    height: 19px;
    left: 685px;
    top: 18px;
    
    font-family: ProximaNova;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    display: flex;
    align-items: flex-end;
    
    color: rgba(0, 0, 0, 0.698398);
}
.htx4{
    position: absolute;
    width: 110px;
    height: 19px;
    left: 794px;
    top: 18px;
    
    font-family: ProximaNova;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    display: flex;
    align-items: flex-end;
    
    color: rgba(0, 0, 0, 0.698398);
}
.htx5{
    position: absolute;
    width: 52px;
    height: 19px;
    left: 576px;
    top: 18px;
    
    font-family: ProximaNova;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    display: flex;
    align-items: flex-end;
    
    color: rgba(0, 0, 0, 0.698398);
}