/* element3 */

position: absolute;
left: 8.94%;
right: 89.82%;
top: 83.25%;
bottom: 16.39%;

background: linear-gradient(156.14deg, #BFF0DD 12.18%, #57D2A3 87.99%);


/* element2 */

position: absolute;
left: 61.25%;
right: 37.5%;
top: 87.53%;
bottom: 12.12%;

background: linear-gradient(156.14deg, #BFF0DD 12.18%, #57D2A3 87.99%);


/* element */

position: absolute;
left: 40.41%;
right: 58.33%;
top: 75.64%;
bottom: 24%;

background: #FDD08D;
transform: rotate(7.49deg);


/* Rectangle 41 */

position: absolute;
width: 261px;
height: 332px;
left: 240px;
top: 4390px;

background: #C4C4C4;
border-radius: 8px;


/* Rectangle 41 */

position: absolute;
width: 261px;
height: 332px;
left: 526px;
top: 4390px;

background: #C4C4C4;
border-radius: 8px;



/* Rectangle 41 */

position: absolute;
width: 261px;
height: 332px;
left: 813px;
top: 4390px;

background: #C4C4C4;
border-radius: 8px;


/* Rectangle 41 */

position: absolute;
width: 261px;
height: 332px;
left: 1099px;
top: 4390px;

background: #C4C4C4;
border-radius: 8px;
