#Thousand-03{
position: absolute;
left: 770px;
top: 2608px;
width: 599px;
height: 542px;
}

#element3_4{
position: absolute;
left: 285px;
top: 2693px;
width: 19.96px;
height: 20px;
}

#element2_4{ 
position: absolute;
left: 662.98px;
top: 3028px;
width: 20.05px;
height: 20px;
}

#element_4{
position: absolute;
left: 1429.78px;
top: 2645px;
width: 16.04px;
height: 16px;
}