#logo2{
position: absolute;
width: 44px;
height: 44px;
left: 191px;
top: 5185px;
}


#Rectangle57{

position: absolute;

left: 191px;
top: 5503px;
}





#twitter{
position: absolute;

left: 644px;
top: 5536px;
}


#facebook{
position: absolute;

left: 704px;
top: 5534px;
}


#instagram{
position: absolute;

left: 749px;
top: 5535px;
}

#in{
position: absolute;

left: 806px;
top: 5534px;
}

#youtube{
position: absolute;

left: 864px;
top: 5536px;
}