#element3_6{ 

position: absolute;
left: 143px;
top: 4652px;
}

#element2_6{ 

position: absolute;
left: 980px;
top: 4891px;
}

#element_6{ 

position: absolute;
left: 646.61px;
top: 4227px;
}

#Mask_Group{

position: absolute;
width: 261px;
height: 332px;
left: 240px;
top: 4390px;
}

#Mask_Group-01{

position: absolute;
width: 261px;
height: 332px;
left: 526px;
top: 4390px;
}


#Mask_Group-02{

position: absolute;
width: 261px;
height: 332px;
left: 813px;
top: 4390px;
}

#Mask_Group-03{

position: absolute;
width: 261px;
height: 332px;
left: 1099px;
top: 4390px;
}