/* Rectangle 41 */

position: absolute;
width: 261px;
height: 332px;
left: 240px;
top: 2039px;

background: #C4C4C4;
border-radius: 8px;


/* Rectangle 41 */

position: absolute;
width: 261px;
height: 332px;
left: 526px;
top: 2039px;

background: #C4C4C4;
border-radius: 8px;


/* Rectangle 41 */

position: absolute;
width: 261px;
height: 332px;
left: 813px;
top: 2039px;

background: #C4C4C4;
border-radius: 8px;


/* Rectangle 41 */

position: absolute;
width: 261px;
height: 332px;
left: 1099px;
top: 2039px;

background: #C4C4C4;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;


/* element3 */

position: absolute;
left: 73.06%;
right: 25.69%;
top: 34.06%;
bottom: 65.59%;

background: linear-gradient(156.14deg, #BFF0DD 12.18%, #57D2A3 87.99%);


/* element2 */

position: absolute;
left: 46.44%;
right: 52.32%;
top: 43.22%;
bottom: 56.42%;

background: linear-gradient(156.14deg, #BFF0DD 12.18%, #57D2A3 87.99%);


/* element */

position: absolute;
left: 7.73%;
right: 91.02%;
top: 39.94%;
bottom: 59.7%;

background: #FDD08D;
transform: rotate(7.49deg);