#Learn_more{
position: absolute;
width: 164px;
height: 60px;
left: 902px;
top: 1476px;
background: #FB8F1D;
border: 0.8px solid #ffffff;
border-radius: 8px;

font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 60px;
/* identical to box height, or 375% */
display: flex;
align-items: center;
justify-content: center;

color: #FFFFFF;

mix-blend-mode: normal;
}

#way{
position: absolute;
/*left: 56.38%;
right: 13.56%;
top: 21.53%;
bottom: 76.68%;*/
width: 481px;
height: 333px;
left: 902px;
top: 1203px;

font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 50px;
/* or 139% */

color: #000000;

mix-blend-mode: normal;
}

#for{
position: absolute;
/*left: 56.38%;
right: 15.5%;
top: 23.68%;
bottom: 74.18%;*/
width: 450px;
height: 120px;
left: 902px;
top: 1323px;

font-family: Mulish;
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 30px;
/* or 176% */

color: #7D7987;

mix-blend-mode: normal;
}