#Thousand-02{
position: absolute;
left: 141px;
top: 1107px;
}

#element2_2{
position: absolute;
left: 1229px;
top: 1469px;
}

#element_2{
position: absolute;
left: 826.61px;
top: 1091px;
}