/* stars */

position: absolute;
width: 189.02px;
height: 24px;
left: 240px;
top: 3593px;



/* Frame */

position: absolute;
width: 25.02px;
height: 24px;
left: 240px;
top: 3593px;



/* Group */

position: absolute;
left: -0.07%;
right: -0.33%;
top: 0%;
bottom: 0.2%;



/* Vector */

position: absolute;
left: -0.07%;
right: -0.33%;
top: 0%;
bottom: 0.2%;

background: #FFBB0C;


/* Frame */

position: absolute;
width: 25.02px;
height: 24px;
left: 281px;
top: 3593px;



/* Group */

position: absolute;
left: -0.07%;
right: -0.33%;
top: 0%;
bottom: 0.2%;



/* Vector */

position: absolute;
left: -0.07%;
right: -0.33%;
top: 0%;
bottom: 0.2%;

background: #FFBB0C;


/* Frame */

position: absolute;
width: 25.02px;
height: 24px;
left: 322px;
top: 3593px;



/* Group */

position: absolute;
left: -0.07%;
right: -0.33%;
top: 0%;
bottom: 0.2%;



/* Vector */

position: absolute;
left: -0.07%;
right: -0.33%;
top: 0%;
bottom: 0.2%;

background: #FFBB0C;


/* Frame */

position: absolute;
width: 25.02px;
height: 24px;
left: 363px;
top: 3593px;



/* Group */

position: absolute;
left: -0.07%;
right: -0.33%;
top: 0%;
bottom: 0.2%;



/* Vector */

position: absolute;
left: -0.07%;
right: -0.33%;
top: 0%;
bottom: 0.2%;

background: #FFBB0C;


/* Frame */

position: absolute;
width: 25.02px;
height: 24px;
left: 404px;
top: 3593px;



/* Group */

position: absolute;
left: -0.07%;
right: -0.33%;
top: 0%;
bottom: 0.2%;



/* Vector */

position: absolute;
left: -0.07%;
right: -0.33%;
top: 0%;
bottom: 0.2%;

background: #FFBB0C;


/* photo */

position: absolute;
width: 416.84px;
height: 522.98px;
left: 859.16px;
top: 3491px;



/* element2 */

position: absolute;
left: 77.12%;
right: 20.25%;
top: 62.47%;
bottom: 36.78%;

background: linear-gradient(156.14deg, #BFF0DD 12.18%, #57D2A3 87.99%);


/* bg */

position: absolute;
width: 384px;
height: 491px;
left: 874px;
top: 3508px;

background: #C4C4C4;
border-radius: 16px;


/* photo */

position: absolute;
width: 384px;
height: 491px;
left: 874px;
top: 3508px;



/* Rectangle 50 */

position: absolute;
width: 384px;
height: 491px;
left: 874px;
top: 3508px;

background: #C4C4C4;
border-radius: 14px;


/* image 6 */

position: absolute;
width: 773px;
height: 598px;
left: 714px;
top: 3508px;

background: url(image.png);


/* element */

position: absolute;
left: 53.98%;
right: 44.04%;
top: 71.19%;
bottom: 28.24%;

background: #FDD08D;
transform: rotate(8.17deg);


/* Rectangle 52 */

position: absolute;
width: 132px;
height: 60px;
left: 1126px;
top: 3939px;

background: #FFFFFF;
border-radius: 16px 0px 0px 0px;


/* next */

position: absolute;
width: 40px;
height: 40px;
left: 1218px;
top: 3959px;



/* Vector 2 */

position: absolute;
width: 4px;
height: 9px;
left: 1236px;
top: 3974px;

border: 2px solid #000000;


/* Ellipse 9 */

position: absolute;
width: 40px;
height: 40px;
left: 1218px;
top: 3959px;

border: 2px solid #000000;
box-sizing: border-box;


/* previous */

position: absolute;
width: 40px;
height: 40px;
left: 1156px;
top: 3959px;



/* Vector 3 */

position: absolute;
width: 4px;
height: 9px;
left: 1178px;
top: 3984px;

border: 2px solid #D7D7D7;
transform: rotate(-180deg);


/* Ellipse 10 */

position: absolute;
width: 40px;
height: 40px;
left: 1196px;
top: 3999px;

border: 2px solid #D7D7D7;
box-sizing: border-box;
transform: rotate(-180deg);


/* Vector */

position: absolute;
left: 6%;
right: 92.63%;
top: 66.16%;
bottom: 33.45%;

background: linear-gradient(156.14deg, #BFF0DD 12.18%, #57D2A3 87.99%);
