#thousand-01{
position: absolute;
width: 687px;
height: 654px;
left: 808px;
top: 167px;
}

#element3{
position: absolute;
width: 20.05px;
height: 20px;
left: 657px;
top: 220px;
}

#element2{
position: absolute;
width: 25.95px;
height: 26px;
left: 80px;
top: 494px;
}

#element{
position: absolute;
width: 19.96px;
height: 20px;
left: 732px;
top: 783px;
}

#Rectangle29{
position: absolute;
width: 32px;
height: 2px;
left: 191px;
top: 482px;
}