/* Africa Antarctica Asia Europe America */

position: absolute;
left: 43.06%;
right: 32.5%;
top: 93.7%;
bottom: 2.9%;

font-family: Mulish;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 38px;
/* or 211% */

color: #848484;

mix-blend-mode: normal;


/* Destinations */

position: absolute;
left: 43.06%;
right: 49.75%;
top: 92.64%;
bottom: 6.28%;

font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 19px;
line-height: 60px;
/* identical to box height, or 316% */

color: #000000;

mix-blend-mode: normal;


/* Destination Guides Pictorial & Gifts Special Offers Delivery Times FAQs */

position: absolute;
left: 60.12%;
right: 15.44%;
top: 93.7%;
bottom: 2.22%;

font-family: Mulish;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 38px;
/* or 211% */

color: #848484;

mix-blend-mode: normal;


/* Shop */

position: absolute;
left: 60.12%;
right: 36.94%;
top: 92.64%;
bottom: 6.28%;

font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 19px;
line-height: 60px;
/* identical to box height, or 316% */

color: #000000;

mix-blend-mode: normal;


/* Adventure Travel Art And Culture Wildlife And Nature Family Holidays Food And Drink */

position: absolute;
left: 78.06%;
right: -2.5%;
top: 93.7%;
bottom: 2.9%;

font-family: Mulish;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 38px;
/* or 211% */

color: #848484;

mix-blend-mode: normal;


/* Interests */

position: absolute;
left: 78.06%;
right: 17%;
top: 92.64%;
bottom: 6.28%;

font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 19px;
line-height: 60px;
/* identical to box height, or 316% */

color: #000000;

mix-blend-mode: normal;


/* Plan and book your perfect trip with expert advice, travel tips destination information from us */

position: absolute;
left: 11.88%;
right: 63.69%;
top: 94.04%;
bottom: 4.46%;

font-family: Mulish;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 28px;
/* or 156% */

color: #848484;

mix-blend-mode: normal;


/* ©2020 Thousand Sunny. All rights reserved */

position: absolute;
left: 11.88%;
right: 63.69%;
top: 96.53%;
bottom: 2.97%;

font-family: Mulish;
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 28px;
/* identical to box height, or 165% */

color: #848484;

mix-blend-mode: normal;
