/* Group 7 */

position: absolute;
width: 44px;
height: 44px;
left: 191px;
top: 5185px;



/* logo */

position: absolute;
width: 44px;
height: 44px;
left: 191px;
top: 5185px;



/* Ellipse 7 */

position: absolute;
width: 44px;
height: 44px;
left: 191px;
top: 5185px;

background: #1ABE84;


/* Ellipse 11 */

position: absolute;
width: 16.1px;
height: 16.1px;
left: 204.95px;
top: 5198.95px;

background: #FB8F1D;
border: 3px solid #FFFFFF;


/* Rectangle 57 */

position: absolute;
width: 1219px;
height: 0.6px;
left: 191px;
top: 5503px;

background: #C4C4C4;


/* social media */

position: absolute;
width: 248.01px;
height: 23px;
left: 644px;
top: 5534px;



/* Frame */

position: absolute;
width: 28.01px;
height: 20px;
left: 864px;
top: 5536px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* Frame */

position: absolute;
width: 23px;
height: 22px;
left: 806px;
top: 5534px;



/* Group */

position: absolute;
left: 0%;
right: 0.1%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 1.2%;
right: 77.32%;
top: 32.5%;
bottom: 0%;

background: #000000;


/* Vector */

position: absolute;
left: 34.57%;
right: 0.1%;
top: 30.93%;
bottom: 0.11%;

background: #000000;


/* Vector */

position: absolute;
left: 0%;
right: 75.92%;
top: 0%;
bottom: 76.7%;

background: #000000;


/* Frame */

position: absolute;
width: 25px;
height: 20px;
left: 644px;
top: 5536px;



/* Group */

position: absolute;
left: -0.1%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: -0.1%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* Frame */

position: absolute;
width: 10px;
height: 22px;
left: 704px;
top: 5534px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* Frame */

position: absolute;
width: 22px;
height: 22px;
left: 749px;
top: 5535px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000000;


/* Vector */

position: absolute;
left: 24.19%;
right: 24.19%;
top: 24.26%;
bottom: 24.19%;

background: #000000;


/* Vector */

position: absolute;
left: 70.34%;
right: 16.64%;
top: 16.72%;
bottom: 70.27%;

background: #000000;
